html, body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
 --whatwggreen: #3A7908;
 color: black;
}
body {
 padding:0;
 margin:1em;
}
a {
 color: #00F;
}
a:visited {
 color: #0E388C;
}
a:hover, a:focus {
 color:var(--whatwggreen);
 text-decoration:none;
}
h1 {
 color:var(--whatwggreen);
}
th,td {
 padding:0.5em;
}
th > a {
 text-decoration:none;
}
