html {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --whatwggreen: #3A7908;
}
body { 
  padding:0;
  margin:1em;
}
a {
 color: #00F;
}
a:visited {
 color: #0E388C;
}
a:hover, a:focus {
  color:var(--whatwggreen);
  text-decoration:none;
}
h1 {
  color:var(--whatwggreen);
}
table {
 border:1px solid #aaa;
 width:100%;
}
tr:nth-child(even) {
  background:#f4f4f4;
}
th,td {
  padding:0.5em;
}
th {
  text-align:left;
  font-weight:bold;
  background:#eee;
  border-bottom:1px solid #aaa;
}
th > a {
  text-decoration:none;
}
