pre.idl, pre.asn, pre.css, dl.domintro, .note, .warning, .example {
 border: 1px solid black; padding: 0.5em;
}

pre.idl::before, pre.asn::before, pre.css::before, dl.domintro::before, .note::before, .warning::before, .example::before {
 display: block; font-weight: bold;
}

body {
  margin-bottom: 3em; /* makes room for the .annoying-warning */
  font-family: Helvetica Neue, sans-serif, Droid Sans Fallback;
  padding: 2.5em;
}
