.head .logo img { position: absolute; top: 1em; right: 1em; border: none; }

.toc, .toc li { list-style: none; }

pre.idl::before { content: 'IDL'; }
pre.asn::before { content: 'ASN'; }
pre.css::before { content: 'CSS'; }

.note::before { content: 'Note'; }
.warning::before { content: '\26A0 Warning!'; }
.example::before { content: 'Example'; }
dl.domintro::before { content: 'For web developers (non-normative)'; }
