/* GLOBAL ELEMENT STYLES */

* {
 box-sizing: border-box;
}

:link {
 color: #00F;
}

:visited {
 color: #0E388C;
}

/* LAYOUT */

html {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
 background-color: rgb(235, 235, 235);
 --whatwggreen: #3A7908;
 --body-width: 900px;
 --body-top-padding: 32px;
 --header-main-font-size: 32px;
}

@media (max-width: 600px) {
 html {
  --header-main-font-size: 19px;
 }
}

body {
 max-width: var(--body-width);
 margin: 0 auto;
 padding: 0;
}

@media (max-width: 600px) {
 body {
  padding: 8px;
 }
}

/* HEADER */

header {
 margin: var(--body-top-padding) 0;
 display: flex;
 align-items: center;
}

header > hgroup > * {
 margin: 0;
 font-weight: normal;
}

header > hgroup > h1 {
 font-size: var(--header-main-font-size);
}

header > hgroup > h2 {
 color: rgb(40, 40, 40);
}

/* SHARED WIDGETS */

@media (min-width: 600px) {
 .buttonish-links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
 }
}

.buttonish-links > a {
 padding: 10px;
 text-align: center;
 border: 8px solid rgba(58, 121, 8, 0.2);
 background: linear-gradient(var(--whatwggreen), #00981B);
 background-clip: padding-box;
 grid-column: span 3;
 text-decoration: none;
 color: white;
 font-size: 17px;
 letter-spacing: 0.3px;
}

.buttonish-links > a:hover, .buttonish-links > a:focus {
  transition: 0.2s;
  transform: scale(1.1);
}

.buttonish-links > a:not([href]) {
  font-weight: bold;
}

@media (max-width: 600px) {
 .buttonish-links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
 }
}

/* FOOTER */

footer {
 border-top: 1px solid black;
 text-align: center;
 font-size: 12px;
}

footer small {
  /* Semantically it's small, but the footer is already small, so don't change the font size. */
  font-size: inherit;
}

footer > * {
 font-style: normal;
 margin: 12px 0;
}
