* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(235,235,235);
}

h2, .title p {
    font-size: 17px;
    margin: 0;
    color: rgb(40, 40, 40);
    font-weight: 600;
}

.span-all h2 {
    font-size: 30px;
}

.flex {
    display: flex;
    align-items: center;
}

.titles {
    margin-left: 20px;
}

h1 {
    margin: 0;
    font-weight: 100;
}

@media (max-width: 600px) {
    h1 {
        font-size: 19px;
    }
}

.wrapper {
    max-width: 900px;
    margin: auto;
}

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.grid {
    margin-bottom: 40px;    
    margin-top: 40px;
}

.grid a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid a {
    grid-column: span 3;
}

.grid a img {
    max-width: 100px;
}

.grid * {
    color: white;
    font-weight: 500;
}

.grid h2 {
    letter-spacing: .3px;
}

.span4 {
    grid-column: span 4;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    background-color: #333333;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px 0 21px;
    border-radius: 4px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .span4 {
        padding: 2px 8px 0 8px;
    }
}

.span4 * {
    color: white;
}

.span4 svg {
    fill: white;
    width: 30px;
    height: 40px;
}

.span4 p {
    margin-left: auto;
}

.span4 h2 {
    margin-left: 20px;
}

.grid > a {
    padding: 10px 0px;
    text-align: center;
    background-color: #3A7908;
    border: solid 8px rgba(58, 121, 8,.2);
    background-image: linear-gradient(rgb(58, 121, 8),#00981b);
    background-clip: padding-box;
}

.span-all {
    grid-column: 1 / -1;
    margin-top: 60px;
}

hr {
    height: 6px;
    background: url(https://resources.whatwg.org/hr-11.png) repeat-x 0 0;
    border: 0;
    width: 100%;
    margin-top: 60px;
}

.standard {
    border: solid #3A7908 2px;
    padding: 4px 30px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    width: fit-content;
    margin-top: 15px;
    letter-spacing: .25px;
    font-weight: 600;
    background-color: white;
    color: #003fff;
    color: #3A7908;
    text-decoration: none;
}

.standard h3 {
    display: inline-block;
    margin-left: 21px;
    font-size: 16px;
}

.arrow {
    max-width: 27px;
    display: inline;
    fill: currentColor;
}

address {
    margin-top: 120px;
}

@media (max-width: 600px) {
    .grid > a {
    margin-top: 15px;
    }
    .span4 h2 + p {
        margin-left: 64px;
    }
}