Redirect permanent /specs/web-apps/html5 http://www.whatwg.org/specs/web-apps/current-work/multipage/
Redirect permanent /specs/web-apps/current-work/complete.html https://html.spec.whatwg.org/
Redirect permanent /specs/web-apps/current-work/complete/ http://html.spec.whatwg.org/multipage/
Redirect permanent /specs/web-apps/current-work/html5-a4.pdf https://html.spec.whatwg.org/print.pdf
Redirect permanent /specs/web-apps/current-work/html5-letter.pdf https://html.spec.whatwg.org/print.pdf
Redirect permanent /specs/web-apps/current-work/html-a4.pdf https://html.spec.whatwg.org/print.pdf
Redirect permanent /specs/web-apps/current-work/html-letter.pdf https://html.spec.whatwg.org/print.pdf

Redirect permanent /specs/web-apps/current-work/webrtc.html https://w3c.github.io/webrtc-pc/

Redirect permanent /specs/web-apps/current-work/websrt.html https://w3c.github.io/webvtt/
Redirect permanent /specs/web-apps/current-work/webvtt.html https://w3c.github.io/webvtt/

Redirect permanent /specs/web-apps/current-work/ https://html.spec.whatwg.org/
