language: python
python:
  - "2.7"

env:
  global:
    - ENCRYPTION_LABEL="aec5871fe877"
    - SERVER="165.227.248.76"
    - SERVER_PUBLIC_KEY="ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBDt6Igtp73aTOYXuFb8qLtgs80wWF6cNi3/AItpWAMpX3PymUw7stU7Pi+IoBJz21nfgmxaKp3gfSe2DPNt06l8="

install:
  - pip install markdown py-gfm
script:
  - shellcheck deploy.sh
  - shellcheck resources.whatwg.org/build/*.sh
  - bash ./deploy.sh

branches:
  only:
    - master

notifications:
  email:
    on_success: never
    on_failure: always
