ForceType text/html
<files *.png>
ForceType image/png
</files>
<files *.xml>
ForceType application/xml
</files>
<files *.pdf>
ForceType application/pdf
</files>
<files *.css>
ForceType text/css
</files>
<files *.js>
ForceType text/javascript
</files>
<files *.cgi>
SetHandler cgi-script
</files>

<files notes>
ForceType text/plain
</files>

redirect permanent /specs/web-workers/current-work/index http://www.whatwg.org/specs/web-apps/current-work/complete/workers.html
