ForceType image/png

<files icon-white>
ForceType image/x-icon
</files>

<files logo.svg>
ForceType image/svg+xml
</files>

<files spinner>
ForceType image/gif
</files>

ExpiresActive on
ExpiresDefault A86400
Header set Cache-Control "public"
