<files order>
SetHandler cgi-script
</files>
<files postcode-lookup>
SetHandler cgi-script
</files>
<files product-lookup>
SetHandler cgi-script
</files>
<files *-source>
ForceType text/plain
</files>