ForceType text/html

<files xforms-implementation-diagram>
ForceType image/png
</files>

<files sample-*>
ForceType image/png
</files>

<files wf2-submission.tar.gz>
ForceType application/octet-stream
</files>
