# Error documents (one day we'll have some)
ErrorDocument 401 /401
ErrorDocument 403 /403
ErrorDocument 404 /404
ErrorDocument 410 /410
ErrorDocument 500 /500

Header set Strict-Transport-Security "max-age=31556900; includesubdomains; preload" env=HTTPS

# Defaults
DefaultType text/html
AddDefaultCharset utf-8
AddType image/svg+xml .svg
AddType image/png .png
AddType image/gif .gif

# Indexing Options
IndexOptions DescriptionWidth=* NameWidth=* FancyIndexing FoldersFirst ScanHTMLTitles
# also add SupressHTMLPreamble once we use HeaderName and some fancy CGI
IndexIgnore .htaccess *~ .#* #*# CVS .svn favicon.ico favicon.gif robots.txt
DirectoryIndex index index.cgi index.xml index.html index.txt
ReadmeName README

# set up the README files to be plain text
<files README>
   ForceType text/plain
   SetHandler default-handler
</files>
<files xg*>
   ForceType text/plain
   SetHandler default-handler
</files>
<files status-*>
   ForceType text/plain
   SetHandler default-handler
</files>

<IfModule mod_gzip.c>
   mod_gzip_on Yes
</IfModule>

# Add some default descriptions
AddDescription "Information about the files in this directory" README

redirect 410 /issues
redirect 410 /charter.pl
redirect 410 /mailing-list.pl

redirect permanent /principles https://whatwg.org/position-paper
redirect permanent /position-paper https://www.w3.org/2004/04/webapps-cdf-ws/papers/opera.html
redirect permanent /current-work https://spec.whatwg.org/

redirect permanent /html https://html.spec.whatwg.org/multipage
redirect permanent /HTML https://html.spec.whatwg.org/multipage
redirect permanent /html5 https://html.spec.whatwg.org/multipage
redirect permanent /HTML5 https://html.spec.whatwg.org/multipage
redirect permanent /wf2 https://html.spec.whatwg.org/multipage/#forms
redirect permanent /ww https://html.spec.whatwg.org/multipage/#workers
redirect permanent /ws https://html.spec.whatwg.org/multipage/#network
redirect permanent /c https://html.spec.whatwg.org/
redirect permanent /C https://html.spec.whatwg.org/multipage/
redirect permanent /pdf https://html.spec.whatwg.org/print.pdf

redirect permanent /d https://dom.spec.whatwg.org/
redirect permanent /dom https://dom.spec.whatwg.org/
redirect permanent /dp https://domparsing.spec.whatwg.org/
redirect permanent /domparsing https://domparsing.spec.whatwg.org/
redirect permanent /e https://encoding.spec.whatwg.org/
redirect permanent /encoding https://encoding.spec.whatwg.org/
redirect permanent /cors https://fetch.spec.whatwg.org/
redirect permanent /fetch https://fetch.spec.whatwg.org/
redirect permanent /f https://fullscreen.spec.whatwg.org/
redirect permanent /fs https://fullscreen.spec.whatwg.org/
redirect permanent /fullscreen https://fullscreen.spec.whatwg.org/
redirect permanent /j https://javascript.spec.whatwg.org/
redirect permanent /js https://javascript.spec.whatwg.org/
redirect permanent /javascript https://javascript.spec.whatwg.org/
redirect permanent /m https://mimesniff.spec.whatwg.org/
redirect permanent /mimesniff https://mimesniff.spec.whatwg.org/
redirect permanent /n https://notifications.spec.whatwg.org/
redirect permanent /notifications https://notifications.spec.whatwg.org/
redirect permanent /q https://quirks.spec.whatwg.org/
redirect permanent /quirks https://quirks.spec.whatwg.org/
redirect permanent /u https://url.spec.whatwg.org/
redirect permanent /url https://url.spec.whatwg.org/
redirect permanent /x https://xhr.spec.whatwg.org/
redirect permanent /xhr https://xhr.spec.whatwg.org/

redirect permanent /newbug https://github.com/whatwg/html/issues/new

# redirect permanent /) https://whatwg.org/
redirect permanent /mailing-list) https://whatwg.org/mailing-list

redirect permanent /google2569a0eb653e4cf1.html https://whatwg.org/
redirect permanent /link-fixup.js https://html.spec.whatwg.org/multipage/link-fixup.js

RedirectMatch 301 ^/specs/?$ https://spec.whatwg.org/

redirect 301 /specs/html5 https://html.spec.whatwg.org/multipage/
redirect 301 /specs/vocabs https://html.spec.whatwg.org/multipage/microdata.html
redirect 301 /specs/url/current-work https://url.spec.whatwg.org/
redirect 301 /specs/web-apps/html5 https://html.spec.whatwg.org/multipage/
redirect 301 /specs/web-apps/current-work/complete.html https://html.spec.whatwg.org/
redirect 301 /specs/web-apps/current-work/complete/ https://html.spec.whatwg.org/multipage/
redirect 301 /specs/web-apps/current-work/html5-a4.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/html5-letter.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/html-a4.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/html-letter.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/webrtc.html https://w3c.github.io/webrtc-pc/
redirect 301 /specs/web-apps/current-work/websrt.html https://w3c.github.io/webvtt/
redirect 301 /specs/web-apps/current-work/webvtt.html https://w3c.github.io/webvtt/
redirect 301 /specs/web-apps/current-work/ https://html.spec.whatwg.org/
redirect 301 /specs/web-forms/tests https://github.com/w3c/web-platform-tests
redirect 301 /specs/web-workers/current-work/index https://html.spec.whatwg.org/multipage/workers.html
redirect 301 /demos/canvas/ https://html.spec.whatwg.org/demos/canvas/
redirect 301 /demos/offline/clock/live-demo/ https://html.spec.whatwg.org/demos/offline/clock/
redirect 301 /demos/offline/clock/ https://html.spec.whatwg.org/demos/offline/clock/
redirect 301 /demos/workers/ https://html.spec.whatwg.org/demos/workers/
