# Error documents (one day we'll have some)
ErrorDocument 404 /404
ErrorDocument 410 /410

Header set Strict-Transport-Security "max-age=31556900; includesubdomains; preload" env=HTTPS

# Defaults
DefaultType text/html
AddDefaultCharset utf-8
AddType image/svg+xml .svg
AddType image/png .png
AddType image/gif .gif

# Indexing Options
IndexOptions DescriptionWidth=* NameWidth=* FancyIndexing FoldersFirst ScanHTMLTitles
# also add SupressHTMLPreamble once we use HeaderName and some fancy CGI
IndexIgnore .htaccess
ReadmeName README

# set up the README files to be plain text
<files README>
   ForceType text/plain
   SetHandler default-handler
</files>
<files xg*>
   ForceType text/plain
   SetHandler default-handler
</files>
<files status-*>
   ForceType text/plain
   SetHandler default-handler
</files>

<IfModule mod_gzip.c>
   mod_gzip_on Yes
</IfModule>

# Add some default descriptions
AddDescription "Information about the files in this directory" README

redirect 410 /issues
redirect 410 /charter.pl
redirect 410 /mailing-list.pl

redirect 302 /principles https://whatwg.org/position-paper
redirect 301 /position-paper https://www.w3.org/2004/04/webapps-cdf-ws/papers/opera.html
redirect 301 /current-work https://spec.whatwg.org/

redirect 301 /html https://html.spec.whatwg.org/multipage/
redirect 301 /HTML https://html.spec.whatwg.org/multipage/
redirect 301 /html5 https://html.spec.whatwg.org/multipage/
redirect 301 /HTML5 https://html.spec.whatwg.org/multipage/
redirect 301 /wf2 https://html.spec.whatwg.org/multipage/#forms
redirect 301 /ww https://html.spec.whatwg.org/multipage/#workers
redirect 301 /ws https://html.spec.whatwg.org/multipage/#network
redirect 301 /c https://html.spec.whatwg.org/
redirect 301 /C https://html.spec.whatwg.org/multipage/
redirect 301 /pdf https://html.spec.whatwg.org/print.pdf

redirect 301 /d https://dom.spec.whatwg.org/
redirect 301 /dom https://dom.spec.whatwg.org/
redirect 301 /dp https://domparsing.spec.whatwg.org/
redirect 301 /domparsing https://domparsing.spec.whatwg.org/
redirect 301 /e https://encoding.spec.whatwg.org/
redirect 301 /encoding https://encoding.spec.whatwg.org/
redirect 301 /cors https://fetch.spec.whatwg.org/
redirect 301 /fetch https://fetch.spec.whatwg.org/
redirect 301 /f https://fullscreen.spec.whatwg.org/
redirect 301 /fs https://fullscreen.spec.whatwg.org/
redirect 301 /fullscreen https://fullscreen.spec.whatwg.org/
redirect 301 /j https://javascript.spec.whatwg.org/
redirect 301 /js https://javascript.spec.whatwg.org/
redirect 301 /javascript https://javascript.spec.whatwg.org/
redirect 301 /m https://mimesniff.spec.whatwg.org/
redirect 301 /mimesniff https://mimesniff.spec.whatwg.org/
redirect 301 /n https://notifications.spec.whatwg.org/
redirect 301 /notifications https://notifications.spec.whatwg.org/
redirect 301 /q https://quirks.spec.whatwg.org/
redirect 301 /quirks https://quirks.spec.whatwg.org/
redirect 301 /u https://url.spec.whatwg.org/
redirect 301 /url https://url.spec.whatwg.org/
redirect 301 /x https://xhr.spec.whatwg.org/
redirect 301 /xhr https://xhr.spec.whatwg.org/

redirect 302 /newbug https://github.com/whatwg/html/issues/new

redirect 301 /mailing-list) https://whatwg.org/mailing-list

redirect 301 /google2569a0eb653e4cf1.html https://whatwg.org/
redirect 301 /link-fixup.js https://html.spec.whatwg.org/multipage/link-fixup.js

RedirectMatch 301 ^/specs/?$ https://spec.whatwg.org/

redirect 301 /specs/html5 https://html.spec.whatwg.org/multipage/
redirect 301 /specs/vocabs https://html.spec.whatwg.org/multipage/microdata.html
redirect 301 /specs/url/current-work https://url.spec.whatwg.org/
redirect 301 /specs/web-apps/html5 https://html.spec.whatwg.org/multipage/
redirect 301 /specs/web-apps/current-work/complete.html https://html.spec.whatwg.org/
redirect 301 /specs/web-apps/current-work/complete/ https://html.spec.whatwg.org/multipage/
redirect 301 /specs/web-apps/current-work/html5-a4.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/html5-letter.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/html-a4.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/html-letter.pdf https://html.spec.whatwg.org/print.pdf
redirect 301 /specs/web-apps/current-work/webrtc.html https://w3c.github.io/webrtc-pc/
redirect 301 /specs/web-apps/current-work/websrt.html https://w3c.github.io/webvtt/
redirect 301 /specs/web-apps/current-work/webvtt.html https://w3c.github.io/webvtt/
redirect 301 /specs/web-apps/current-work/ https://html.spec.whatwg.org/
redirect 301 /specs/web-forms/tests https://github.com/w3c/web-platform-tests
redirect 301 /specs/web-workers/current-work/index.html https://html.spec.whatwg.org/multipage/workers.html
redirect 301 /demos/canvas/ https://html.spec.whatwg.org/demos/canvas/
redirect 301 /demos/offline/clock/live-demo/ https://html.spec.whatwg.org/demos/offline/clock/
redirect 301 /demos/offline/clock/ https://html.spec.whatwg.org/demos/offline/clock/
redirect 301 /demos/workers/ https://html.spec.whatwg.org/demos/workers/
RedirectMatch 301 ^/(demos/(date|multiform|repeat)-01/.*)$ https://github.com/whatwg/whatwg.org/tree/417c7bf7a19375c4fbf4a68146153a6baeadecdb/$1
redirect 301 /images https://images.whatwg.org
