{{#section "head"}}
<style>
h3 {
 font-size: 1rem;
 text-decoration: underline;
}

h4 {
 font-size: 1rem;
 font-weight: bold;
 font-style: italic;
 display: inline;
}

summary, label, input[type="submit"] {
 cursor: pointer;
}

/* <details> needs some polyfill styles for Edge */

details {
 display: block;
 margin: 1em 0;
}

details > div {
 display: none;
}

details[open] > div {
 display: block;
}

summary::-webkit-details-marker {
 display: none;
}

summary {
 display: block;
}

summary::before {
 font-size: .8em;
 margin-right: .4em;
 content: "►";
}

details[open] > summary::before {
 content: "▼";
}

dfn {
 font-style: inherit;
 font-weight: bold;
}

legend + p {
 margin-top: 0;
}

a[href="TODO"] {
 border-bottom: 1px solid red;
 text-decoration: none;
}

@supports (text-decoration-color: #eee) {
 a[href="TODO"] {
  text-decoration: underline;
  text-decoration-color: red;
 }
}

.disabled-control {
 color: gray;
 cursor: default;
}

input[readonly] {
 border: none;
}

#intro {
  font-style: italic;
}

#scope-selection {
 margin-left: 60px;
}

#scope-selection > label {
 display: block;
 margin: 1.1em 0;
}

#workstream-selection {
 margin-left: 60px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
}

.grid-form {
 display: grid;
 grid-template-columns: auto 1fr;
 grid-column-gap: 20px;
 grid-row-gap: 1em;
 justify-items: stretch; /* Edge does not stretch inputs inside grids by default */
}

.grid-form label {
 display: block; /* this gives a fallback that displays reasonably in non-grid browsers */
}

.signature-section-container {
 width: 600px;
 margin: 0 auto 2em;
}

input[type="submit"] {
 display: block;
 margin: 30px auto;
 font-size: 30px;
}
</style>
{{/section}}

<h2>Contributor and Workstream Participant Agreement</h2>

<form method="post" action="submit-agreement">
 <div id="intro">
  <p>All <a href="#entity">Entities</a> and <a href="#individual">Individuals</a>, by participating or contributing, agree to certain commitments, including licensing obligations relating to copyrights and patents, as set forth in this Contributor and Workstream Participant Agreement (“<dfn id="agreement">Agreement</dfn>”) and the written <a href="https://whatwg.org/policies">WHATWG Policies</a>. Those who work in the field of web technologies as an employee, contractor, or agent of another person or legal entity must have this <a href="#agreement">Agreement</a> executed by an authorized representative of that <a href="#entity">Entity</a>. (To make <a href="TODO/IPR%20Policy#contribution">Contributions</a>, an <a href="#entity">Entity</a> must be a <a href="TODO/Workstream%20Policy#52-workstream-participants">Workstream Participant</a>.)

  <p>Terms not defined here are defined in the <a href="https://whatwg.org/policies">WHATWG Policies</a>.
 </div>

 <p>“<dfn id="entity">Entity</dfn>” means a legal entity that makes <a href="TODO/IPR%20Policy#contribution">Contributions</a> through its employees, agents, contractors, and other representatives; "<dfn id="affiliate">Affiliate</dfn>" means any legal entity that directly or indirectly <a href="#control">Controls</a>, is <a href="#control">Controlled</a> by, or is under common <a href="#control">Control</a> with an entity. "<dfn id="control">Control</dfn>" means the power to determine the course of action of another entity (for example by ownership of more than 50% of the voting stock or equity, authority to appoint a majority of the board or equivalent body, or by virtue of its voting or other rights).

 <p>“<dfn id="individual">Individual</dfn>” means a person who does not work in the field of web technologies as an employee, contractor, or agent of another person or legal entity, and who thus makes <a href="TODO/IPR%20Policy#contribution">Contributions</a> in their personal capacity only.


 <h3 id="rights-and-obligations">Rights and Obligations</h3>

 <p>Each <a href="#individual">Individual</a> and <a href="#entity">Entity</a> agrees that participation in the WHATWG is subject to all <a href="https://whatwg.org/policies">WHATWG Policies</a> (including but not limited to the <a href="TODO">Workstream Policy</a> and <a href="TODO">IPR Policy</a> and the associated copyright and patent obligations) in effect at the time.


 <h3 id="obligations-of-affiliates">Obligations of Affiliates</h3>

 <p>In addition to its “<a href="#rights-and-obligations">Rights and Obligations</a>” set forth above, each <a href="#entity">Entity</a> further agrees to ensure that its <a href="#affiliate">Affiliates</a> conform to the same <a href="TODO">Patent-Licensing Obligations</a> as the <a href="#entity">Entity</a>, as if those <a href="#affiliate">Affiliates</a> were bound directly.


 <h3 id="notifications">Notifications</h3>

 <p>Each <a href="#entity">Entity</a> must:

 <ol>
  <li>identify a single person to serve as primary contact with the <a href="TODO/SG%20Agreement.md#steering-group">Steering Group</a>,
  <li>identify individuals who are authorized to participate in each <a href="TODO/Workstream%20Policy.md#workstream">Workstream</a>, and
  <li>notify the <a href="TODO/SG%20Agreement.md#steering-group">Steering Group</a> if an individual’s authorization to <a href="TODO/IPR%20Policy.md#21-contribution">Contribute</a> is terminated.
 </ol>


 <h3 id="third-party-beneficiaries">Third-Party Beneficiaries</h3>

 <p>The intended beneficiaries of this Agreement include (but are not limited to) implementers of the WHATWG <a href="TODO/Workstream%20Policy.md#living-standard">Living Standards</a>.


 <h3 id="termination">Termination</h3>

 <p>An <a href="#individual">Individual</a> or <a href="#entity">Entity</a> may terminate <a href="TODO">Workstream Participation</a> or this <a href="#agreement">Agreement</a> by providing written notice to the <a href="TODO/SG%20Agreement.md#steering-group">Steering Group</a>, or the <a href="TODO/SG%20Agreement.md#steering-group">Steering Group</a> may terminate this <a href="#agreement">Agreement</a> by providing written notice to an <a href="#individual">Individual</a> or <a href="#entity">Entity</a>. Termination is effective upon delivery. Obligations (including but not limited to licensing obligations) incurred prior to termination do not cease. As a condition of participation in the WHATWG, each <a href="TODO">Workstream Participant</a> agrees that no claim of any kind may arise from such removal or termination.


 <h3 id="scope">Scope</h3>

 <p>This <a href="#agreement">Agreement</a> applies to (select one):

 <div id="scope-selection">
  <label>
   <input type="radio" name="scope" value="all" checked>
   all WHATWG <a href="TODO/Workstream%20Policy.md#workstream">Workstreams</a>, current and future
  </label>

  <label>
   <input type="radio" name="scope" value="some">
   the following <a href="TODO/Workstream%20Policy.md#workstream">Workstreams</a> (select all that apply):
  </label>

  <div id="workstream-selection">
  {{#each workstreams}}
   <label>
    <input type="checkbox" name="scope-workstreams" value="{{id}}">
    {{name}}
   </label>
  {{/each}}
  </div>

  <p id="following-workstreams-addendum">(To change this selection, e.g. to participate in additional <a href="TODO/Workstream%20Policy.md#workstream">Workstreams</a>, discontinue participation in a Workstream, or switch between the "all WHATWG Workstreams, current and future" selection versus choosing individual Workstreams, notify the <a href="TODO/SG%20Agreement.md#steering-group">Steering Group</a> using <a href="agreement-update">the Workstream update interface</a>.)</p>
 </div>

 <script>
 "use strict";
 (() => {
  const someScope = document.querySelector('input[name="scope"][value="some"]');
  const allScope = document.querySelector('input[name="scope"][value="all"]');
  const workstreamFields = Array.from(document.querySelectorAll('#workstream-selection input'));
  const followingWorkstreamsAddendum = document.querySelector('#following-workstreams-addendum');

  function syncState() {
   const disabled = allScope.checked;
   for (const field of workstreamFields) {
    field.disabled = disabled;
    field.parentElement.classList.toggle('disabled-control', disabled);

    if (disabled) {
     field.checked = true;
    }
   }
   followingWorkstreamsAddendum.classList.toggle('disabled-control', disabled);
  }

  syncState();
  someScope.addEventListener('change', syncState);
  allScope.addEventListener('change', syncState);
 })();
 </script>


 <h3 id="signature">Signature</h3>

 <details id="individual-signature-container">
  <summary>
   <h4 id="signature-individual">If signing as an <a href="#individual">Individual</a></h4>
  </summary>
  <div>
   <p>I represent that I do not work in the field of web technologies as an employee, contractor, or agent of another person or legal entity, and make this <a href="#agreement">Agreement</a> in my personal capacity only.</p>

   <div class="grid-form signature-section-container">
    <label for="individual-name">Name:</label>
    <input type="text" name="individual-name" id="individual-name" required>

    <label for="individual-address">City + Country:</label>
    <input type="text" name="individual-address" id="individual-address" required>

    <label for="individual-email">Contact (email):</label>
    <input type="email" name="individual-email" id="individual-email" required>

    <label for="individual-github">GitHub ID:</label>
    <input type="text" name="individual-github" id="individual-github" required>

    <label for="individual-signature">Signature:</label>
    <input type="text" name="individual-signature" id="individual-signature" placeholder="Type the name of the person signing" required>

    <label for="individual-date">Date:</label>
    <input type="date" name="individual-date" id="individual-date" readonly>
   </div>
  </div>
 </details>

 <details id="entity-signature-container">
  <summary>
   <h4 id="signature-entity">If signing for an <a href="#entity">Entity</a></h4>
  </summary>
  <div>
   <p>The person executing this <a href="#agreement">Agreement</a> represents that they are authorized to make this <a href="#agreement">Agreement</a> on behalf of the <a href="#entity">Entity</a> identified below.

   <div class="grid-form signature-section-container">
    <label for="entity-name">Entity Name:</label>
    <input type="text" name="entity-name" id="entity-name" required>

    <label for="entity-address">Address:</label>
    <input type="text" name="entity-address" id="entity-address" required>

    <label for="entity-url">URL:</label>
    <input type="url" name="entity-url" id="entity-url" required>

    <label for="entity-signed-by">Signed by (name):</label>
    <input type="text" name="entity-signed-by" id="entity-signed-by" required>

    <label for="entity-title">Title:</label>
    <input type="text" name="entity-title" id="entity-title" required>

    <label for="entity-signature">Signature:</label>
    <input type="text" name="entity-signature" id="entity-signature" placeholder="Type the name of the person signing" required>

    <label for="entity-date">Date:</label>
    <input type="date" name="entity-date" id="entity-date" readonly>
   </div>

   <fieldset class="signature-section-container">
    <legend>Primary Contact</legend>
    <div class="grid-form">
     <label for="contact-1-name">Name:</label>
     <input type="text" name="contact-1-name" id="contact-1-name" required>

     <label for="contact-1-email">Email:</label>
     <input type="email" name="contact-1-email" id="contact-1-email" required>

     <label for="contact-1-github">GitHub ID:</label>
     <input type="text" name="contact-1-github" id="contact-1-github" required>
    </div>
   </fieldset>

   <fieldset class="signature-section-container">
    <legend>Backup Contact (optional)</legend>
    <div class="grid-form">
     <label for="contact-2-name">Name:</label>
     <input type="text" name="contact-2-name" id="contact-2-name">

     <label for="contact-2-email">Email:</label>
     <input type="email" name="contact-2-email" id="contact-2-email">

     <label for="contact-2-github">GitHub ID:</label>
     <input type="text" name="contact-2-github" id="contact-2-github">
    </div>
   </fieldset>

   <fieldset class="signature-section-container">
    <legend>Contributor Management</legend>

    <p>For the purposes of easily allowing contributions from persons associated to the <a href="#entity">Entity</a>, the WHATWG requires <a href="#entity">Entities</a> to identify an existing <a href="https://help.github.com/articles/about-organizations/">GitHub organization</a> whose members are associated with the <a href="#entity">Entity</a>. All public members of this GitHub organization will be able to contribute on behalf of the <a href="#entity">Entity</a>.</p>

    <p>If you do not yet have a GitHub organization, please <a href="https://github.com/organizations/new">create one</a> now. The free plan is perfectly sufficient.</p>

    <div class="grid-form">
     <label for="entity-github-organization">GitHub organization:</label>
     <input type="text" name="entity-github-organization" id="entity-github-organization" required>
    </div>
   </fieldset>

  <p>(To change this information, e.g. to change the Primary Contact, notify the <a href="TODO/SG%20Agreement.md#steering-group">Steering Group</a> using <a href="agreement-update">the Workstream update interface</a>.)</p>


  </div>
 </details>


 <script>
 "use strict";
 // Generic signature stuff
 (() => {
  const containers = {
   individual: document.querySelector('#individual-signature-container'),
   entity: document.querySelector('#entity-signature-container')
  };
  const types = Object.keys(containers);

  for (const type of types) {
   const container = containers[type];
   const otherContainer = containers[type === 'individual' ? 'entity' : 'individual'];
   const signature = document.querySelector(`#${type}-signature`);
   const date = document.querySelector(`#${type}-date`);

   function sync() {
    if (container.open) {
     otherContainer.open = false;
    }

    for (const typeForInputs of types) {
     setInputsEnabledness(typeForInputs, containers[typeForInputs].open);
    }

    if (signature.value.trim().length > 0) {
     // Does not work in Firefox:
     // date.valueAsDate = new Date();
     date.value = (new Date()).toISOString().substring(0, "YYYY-MM-DD".length);
    } else {
     date.value = '';
    }
   }

   signature.addEventListener('input', sync);
   container.addEventListener('toggle', sync);
   sync();
  }

  function setInputsEnabledness(type, shouldBeEnabled) {
   const container = containers[type];
   const inputs = Array.from(container.querySelectorAll('input'));

   for (const input of inputs) {
    input.disabled = !shouldBeEnabled;
   }
  }
 })();
 </script>

 <input type="submit" value="Submit">
</form>

<script>
// Details shim for Edge
'use strict';
(() => {

 const supportsDetails = 'open' in document.createElement('details');
 if (!supportsDetails) {
  registerEvents();
  setUpDetailsA11yAttributes();
 }

 function setUpDetailsA11yAttributes() {
  const allDetails = Array.from(document.querySelectorAll('details'));
  for (const details of allDetails) {
   details.setAttribute('role', 'group');

 		const summary = details.querySelector('summary');
 		summary.setAttribute('role', 'button');
 		summary.setAttribute('tabindex', '0');
	 }
	}

 function registerEvents() {
  document.addEventListener('click', e => {
   onActivation(e);
  });

 	document.addEventListener('keydown', e => {
   if (e.keyCode === 32 || e.keyCode === 13) {
    onActivation(e);
   }
  });
 }

 function onActivation(e) {
  const summary = findSummary(e.target);
  if (!summary) {
   return;
  }

  e.preventDefault();

  const details = summary.parentElement;
  toggleDetails(details, summary);
 }

 function toggleDetails(details, summary) {
  if (details.hasAttribute('open')) {
   details.removeAttribute('open');
   summary.setAttribute('aria-expanded', 'false');
  } else {
   details.setAttribute('open', '');
   summary.setAttribute('aria-expanded', 'true');
  }
  details.dispatchEvent(new Event('toggle'));
 }

 function findSummary(element) {
  if (element.localName === 'summary') {
   return element;
  }

  if (element.parentElement) {
   return findSummary(element.parentElement);
  }

  return null;
 }
})();
</script>
