Redirect permanent /specs/html5 https://html.spec.whatwg.org/multipage/
Redirect permanent /specs/vocabs https://html.spec.whatwg.org/multipage/microdata.html

# polish version got way out of date
redirect gone /specs/index.pl
