ForceType text/html

<files xforms-implementation-diagram>
ForceType image/png
</files>

<files sample-multiple-editable-ui>
ForceType image/png
</files>

<files sample-datetime-ui-*>
ForceType image/png
</files>
