Redirect permanent /demos/canvas/ http://html.spec.whatwg.org/demos/canvas/
Redirect permanent /demos/offline/clock/live-demo/ http://html.spec.whatwg.org/demos/offline/clock/
Redirect permanent /demos/offline/clock/ http://html.spec.whatwg.org/demos/offline/clock/
Redirect permanent /demos/workers/ http://html.spec.whatwg.org/demos/offline/
